@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
* {
    font-family: "syne", sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.twopeople {
    display: flex;
    justify-content: space-evenly;
}
.img {
  height: 150px;
  width: 150px;

  position: relative;
  margin-bottom: 10px;
  
}
.img .profileimage {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: solid 3px rgb(70, 71, 79);
    position: absolute;
 
  

} 
body {
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    height: 100vh;
    display: flex;
    
    align-items: center;
    justify-content: center;
    
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.733);
    width: 400px;
    
    border-radius: 30px;
    padding: 25px;
    transition-duration: 0.6s;
    

}
.personinfo {
    display: flex;
    flex-direction: column;
    align-items:center;
}
.name  {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Space Grotesk", sans-serif;
}
.mediabox {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    
}
.link {
    display: flex;
    align-items: center;
    justify-content: center;
   margin: 0 6px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 25px;
    height: 34px;
    width: 34px;
    text-decoration: none;
    border-radius: 50%;
    transition-duration: 0.4s;

}
.link:hover {
    color: rgb(255, 0, 0);
    font-size:30px ;
}
.profile:hover {
    background-color: rgb(255, 249, 249);
    box-shadow: 0 0 5px  rgba(110, 169, 252, 0.753), 0 0 25px  rgba(110, 169, 252, 0.753), 0 0 50px  rgba(110, 169, 252, 0.753), 0 0 200px  rgba(110, 169, 252, 0.753);

}
.button {
    padding: 8px;
    background-color: antiquewhite;
    margin-top: 6px;
    border: solid 3px rgb(0, 0, 0);
    border-radius: 21px;
    transition-duration: 0.6s;
    cursor: pointer;
}
.button:hover {
    background-color: black;
    color: antiquewhite;
    border: solid 3px antiquewhite;
    padding: 15px;
}
.msgme a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
}
.msgme a:hover{
    color: antiquewhite;
}
.anishkinfo {
    margin-bottom: 30px;
}
.madvithinfo{
    margin-right: 30px;
}
.ukinfo{
    margin-left: 30px;
}
.header{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 30px;
}
.header h1{
    font-size: 3.5rem;
    font-weight: 730;
    color: azure;
    -webkit-text-stroke-width: 1.5px;
            -webkit-text-stroke-color: rgb(148, 127, 127);
}
.twopeople{
    margin-bottom: 30px;
}
